.kalen-imgbanner img{
  display: flex;
  height: 233px;
  border-radius: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  position: relative;
  overflow: hidden;
}
.kalen-imgbanner {
    height: 70vh;
}