.appartement {
    background-image: linear-gradient(to top, #863535, #FF6060);
    border-radius: 1rem;
    flex-basis: 30%;
    display: flex;
    align-items: flex-end;
    min-width: 200px;
    flex-wrap: nowrap;
}
.appartement a{
    text-decoration: none;
}

@media screen and (width <= 768px){
 .appartement   {
    flex-basis: 100%;
    width: 335px;
    height: 255px;

    }
    
}
.apmt-titre {
    width: 45%;
    color: white;
    font-family: Montserrat;
    font-size: 18px;
    padding: 1rem;
    text-decoration: none;

}


