$couleur: #ffffff;

.banner {
  display: flex;
  width: 100%;
  max-width: 1240px;
  height: 233px;
  border-radius: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 2rem;
  
}
.banner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 50%;
 
}

.text_bannaer {
  margin: auto;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 500;
  line-height: 68.45px;
  letter-spacing: 0em;
  text-align: left;
  color: $couleur;
  position: relative;
  z-index: 1;


}
//media querry pour format Mobile  (smartphone)//
@media only screen and (max-width: 768px) {
  .banner {
  width: 100%;
  height: 111px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  }
  
  .text_bannaer {
   width: 217px;
   height: 48px;
   top: 31px;
  left: 16px;
  gap: 0px;
  opacity: 0px;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  left: 16px; 
  top: 35px;
  flex-wrap: nowrap;
  position: absolute;

  
  }
 
}
