.banner {
  display: flex;
  align-items: center;
  width: 1240px;
  height: 223px;
  top: 163px;
  left: 100px;
  padding: 0 3rem;
  background-repeat: no-repeat;
}
h1 {
  color: white;
  padding: 0 5rem;
}
