.banner {
  display: flex;
  height: 233px;
  border-radius: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  filter: brightness(60%);
 background-color: #FFFFFF;
  
}

.text_bannaer {
  margin: auto;
  font-family: Montserrat;
  font-size: 68px;
  font-weight: 500;
  line-height: 68.45px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
   
}

@media screen and (width <= 768px) {
  .text_bannaer {
  font-size: 45px;
   }
 
 }
 