.carrousel{
 display: flex;
 justify-content: space-around;
 margin-top: 1rem;
 
 

 
 
.image_carrousel {
position: relative;

}

img {
    width: 1240px;
    height: 415px;
     border-radius: 25px;
     box-shadow: rgb(149, 157, 165) 0px 8px 24px;
    position: absolute;
}

}

/* Gestion des fleches du carrousel */
.Gestion-fleches {
	display: flex;
	position: absolute;
}
.arrow_left {
	left: 10px;
	
}
.arrow_right {
	right: 10px;


}
