.collapse {
 margin-bottom: 10px;
 margin-top: 2rem;
 width: 582px;
 position: relative;
  border-radius: 5px;
  
  
 
 
  
  &.open .collapse-content {
    display: block;
    background-color: #f6f6f6;
    height: 279px;
    border-radius: 10px;
    
  }
  
  &.closed .collapse-content {
    display: none;
  }
  
  .collapse-header {
    padding-left: 0;
    border-radius: 10px;
    background: #ff6060;
    padding: 0.5rem;
    height: 52px;
    pointer-events: none;
    
    
    .arrow {
      cursor: pointer;
      float: right;
      transition: transform 0.3s ease;
      pointer-events: visible;
      
      &.open {
        transform: rotate(180deg);
      }
    }
  }
  
  .collapse-content {
    display: none;
    padding: 10px;
    
  }
}
 
 
.collapse-titre {
   font-family: Montserrat;
  font-size: 18px;
  width: 520px;
  height: 32px;
  font-weight: 700;
 line-height: 26px;
  text-align: left;
  padding-left: 0;
  color: white;
  align-items: center;
  
  
 

 

 
}

.collapse-text {
    width:  582px; 
    color: black;
    left: 20px;
    border-radius: 5px;
   border-radius: 5px;
   margin-top: 0em;
    
}
