.collapse {
 cursor: pointer;
 
 
 
 
}
.collapse-titre {
   height: 52px;
   background: #ff6060;
   font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
 line-height: 26px;
  text-align: left;
  padding-left: 0;
  color: white;
  align-items: center;
  border-radius: 5px;
  padding-left: 0;
 padding: 10px 20px 10px 15px;
 

 
}

.collapse-text {
    width:  582px; 
    color: black;
    height: 279px;
    left: 20px;
    border-radius: 5px;
   background-color: #f6f6f6;
   border-radius: 5px;
   margin-top: 0em;
    
}
