.collapse {
 margin-top: 2rem;
 width: 582px;
 position: relative;
 border-radius: 5px;
 
  
  
 
 
  
  &.open .collapse-content {
    display: block;
    background-color: #f6f6f6;
    max-width: 100%;
    border-radius: 10px;
    
  }
  
  &.closed .collapse-content {
    display: none;
  }
  
  .collapse-header {
    padding-left: 0;
    border-radius: 10px;
    background: #ff6060;
    padding: 0.5rem;
    margin-top: 1rem;
    pointer-events: none;
   
    
    
    .arrow {
      cursor: pointer;
      float: right;
      transition: transform 0.3s ease;
      pointer-events: visible;
      
      &.open {
        transform: rotate(180deg);
      }
    }
  }
  
  .collapse-content {
    display: none;
    padding: 10px;
    
  }
}
 
 
.collapse-titre {
  font-family: Montserrat;
  font-size: 18px;
  width: 520px;
  height: 32px;
  font-weight: 700;
  line-height: 34.22px;
  text-align: left;
  color: white;
  align-items: center;
  
  
 
}

.collapse-text {
    width:  582px; 
    font-size: 25px;
    color: #000;
   
     
}
@media screen and (max-width: 1024px) {
.collapse{
 width: 350px;
 
}
  
}

//media query pour format smartphone//
@media only  screen and (max-width: 768px){
.collapse {
  width: auto;
}
.collapse-text {
  font-size: 17.5px;
  
}
}
