
.eurrepage{
color: #FF6060;
text-align: center;

}
.eurrer404{
    font-size: 288px;
    font-weight: 700;
    line-height: 411px;
    letter-spacing: 0em;
    margin-top: 0%;
   
}

.eurrepage a{
color: #FF6060;
font-size: 18px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;

}
.eurrepage p{
    margin: 2em;
}

//media query pour format smartphone//
@media screen and (max-width: 768px) {
.eurrepage {
    width: auto;
}
    
}