.footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    min-height: 200px;
}

.logo-footer {
    padding-top: 1rem;
    
}
.text_footer{
    padding-top: 1rem;
}