.header {
   display: flex; 
   align-items: center;
   gap: 5rem;
   padding: 2rem;
   font-weight: 600;
   font-size: 24px;
}
.header a{
   text-decoration: none;
   color: #FF6060; 
}
.header a:hover {
   text-decoration: underline;
   
}
.home-logo {
margin-right: auto;
 
}
.home-logo img{
   width: 210.32px;
   height: 68px;

}
@media  screen and (width <= 768px) {
 .header {
 flex-wrap: nowrap;
 gap: 2rem;
 padding: 1rem;
 font-weight: 500;
 font-size: 13px;
   }
.home-logo img{
width: 145px;
height: 46.88px;

   
}
}