.header {
   height: 68px;
   display: flex; 
   align-items: center;
   gap: 5rem;
   padding: 2rem;
   font-weight: 600;
   font-size: 24px;
   max-width: 1240px;
   margin: 0 auto;
.accueil{
   cursor: pointer;
}

}
.header a{
   text-decoration: none;
   color: #000000;

}
  
.header a:hover {
   text-decoration: underline;
   color: gray;

   
}
.home-logo {
margin-right: auto;
 
}
.home-logo img{
   width: 210.32px;
   height: 68px;

}

//media querry pour format smartphone//
@media  screen and (width <= 600px) {
 .header {
 height:  46.88px;
 gap: 2rem;
 padding: 1rem;
 font-weight: 500;
 font-size: 13px;
 
   }
   
.home-logo img{
width: 145px;
height: 46.88px; 
}

}
@media screen and (max-width: 320px)  {
.header {
   gap: 1rem;
}
.home-logo img{
width: 115px;
height: 25.88px; 
}
}