.home {
   display: flex; 
   align-items: center;
   gap: 5rem;
   padding: 2rem;
   font-weight: 700;
}
.home a{
   text-decoration: none;
   color: #FF6060; 
}
.home a:hover {
   text-decoration: underline;
   
}
.home-logo {
margin-right: auto;
 
}
.home-logo img{
   width: 210.32px;
   height: 68px;

}
@media  screen and (width <= 768px) {
 .home {
 flex-wrap: nowrap;
 gap: 2rem;
 padding: 1rem;
 font-weight: 400;
   }
.home-logo img{
width: 145px;
height: 46.88px;

   
}
}