.imb {
    background: #F6F6F6;
    margin-top: 2rem;
    min-height: 30vw;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    
}
@media screen and (width <= 768px) {
  .imb  {
    justify-content: center;
    background-color: white;
    padding: 0;
    }

}