.main-listeLogements {
   background-color: #F6F6F6;
   display: flex;
   justify-content: left;
   flex-wrap: wrap;
    margin-top: 2rem;
    min-height: 30vw;
    border-radius: 2rem;
    width: 1240px;
   
    
    

 
    

}

@media screen and (width <= 768px) {
  .main-listeLogements  {
    flex-direction: column;
    background-color: white;
    padding: 0;
    width: 100%;
    }
    

}



