.main-listeLogements {
   background-color: #F6F6F6;
   display: flex;
   justify-content: left;
   flex-wrap: wrap;
    min-height: 30vw;
    border-radius: 2rem;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    
    
    

}


@media screen and (min-width: 320px) and (max-width: 1024px) {
  .main-listeLogements  {
    max-width: 100%;
    background-color: white;
    justify-content: center;
   
    }
    

}


