.star-rating {
  display: flex;
  margin-top: 145px;
  height: 36px;
  font-size: 2.5rem; 
 
}

.on {
  color: #ff6060;
}
 

@media only  screen and (max-width: 768px) {
  .star-rating {
  font-size: 1.7rem;
 
   
    
    
    
  }
  
}