.star-rating {
  display: flex;
  height: 36px;
  margin-top: 145px;
  font-size: 2.5rem;
  color: #ccc;   
}

.on {
  color: #ff6060;
}
 

@media only  screen and (max-width: 768px) {
  .star-rating {
    font-size: 1.6rem;
    
  }
  
}