.carrousel{
 min-width: 1240px;
 
}

.carrousel img {
    width: 100%;
   max-height: 415px;
   border-radius: 25px;
  filter: brightness(0.9);
  object-fit: cover;
  
  
}


/* Gestion des fleches du carrousel */
.Gestion-fleches {
  display: flex;
   min-width: 1240px;
  justify-content: center;
  position: relative;
  align-items: center;
 
}

.Gestion-fleches button {
 display: flex;
 justify-content: center;
 position: absolute;
 width: 76px;
 height: 119.64px;
 background-color: transparent;
 border: none;
 cursor: pointer;
z-index: 1;
 
}

.left-btn{
 left: 0px;

 
}
.right-btn {
  right: 0px;
 
}
.slides-counter {
  display: flex;
  position: absolute;
  color: white;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  margin-top: 20rem;
 
}
  
   
  

//media querry format Mobile Tablette et Ordinateur portable//
@media only screen and (max-width: 600px) {
.carrousel {
  width: 100%;

  }
.carrousel img {
  width: 335px;
  height: 255px;
  justify-content: center;
  align-items: center;
  
}
 
  
.left-btn {
 max-width: 100%;
 
  }
.righ-btn {
max-width: 100%;
}

}