.slides-carrousel{
  display: flex;
  width: 100%;
  width: 1240px;
  height: auto;
  margin: 0 auto;
 
}

.slides-carrousel img {
  max-width: 100%;
  width: 100%;
  max-height: 415px;
  border-radius: 1rem;
  background-size: cover;
  filter: brightness(0.9);
  overflow: hidden;
  
  
}


/* Gestion des fleches du carrousel */
.Gestion-fleches {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
 
}

.Gestion-fleches button {
 display: flex;
 justify-content: center;
 position: absolute;
 width: 76px;
 height: 119.64px;
 background-color: transparent;
 border: none;
 cursor: pointer;
z-index: 1;
 
}

.left-btn{
 left: 0px;

 
}
.right-btn {
  right: 0px;
 
}
.slides-counter {
  display: flex;
  position: absolute;
  color: white;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  margin-top: 20rem;
 
}

   
  

//media querry pour format  smartphone//
@media  only screen and (max-width: 1024px) {
.slides-carrousel {
  width: 100%;
  justify-content: center;
  
  

  }
.slides-carrousel img{
   width: 1024px;
   height: 255px;
   object-fit: cover;
  
}
.Gestion-fleches button {
  width: auto;
}
.left-btn img {
  width: 35px;
  height: 35px;
  margin-top: 3rem;
  left: 0;
}
.right-btn img{
  width: 35px;
  height: 35px;
  margin-top: 3rem;
  padding: 0;



}
 


}