.carte-tags{
    display: flex;
    width: auto;
    height: 25px; 
    flex-direction: row;
    padding-left: 0;

}
 .tag{
  min-width: 115px;
 background-color: #ff6060;
  color: white;
  font-size: 14px;
  height: 25px;
  padding: 5px 10px;
  width: auto;
  font-weight: 700;
  margin-right: 20px;
  border-radius: 10px;
  margin-top: 11px;
  text-align: center;
  
}

.carte-tags{
 padding: 1rem 0rem;
 
}
@media only screen and (max-width: 1024px){
.tag{
  width: auto;
  
}

.carte-tags{
 flex-wrap: wrap;
 width: 365px;
 
}
}

@media only screen and (max-width: 768px) {
 .tag{
    height: 18px;
    text-align: center;
    width: 70px;
    font-size: 10px;
    padding: 2px 6px;
    
  
    
  }
  .carte-tags{
  flex-wrap: wrap;
    
  }

  
}